/*=================================
			Media Query
===================================*/


@media all and (max-width:1800px){
	.left-content{
		margin-top: 80px;
		margin-left: 150px;
	}
	.left-content h2{
		font-size: 20px;
	}
	.left-content h1{
		font-size: 55px;
		
	}
	.left-content h2:nth-child(4){
		font-size: 30px;
	}
	.left-content h3{
		font-size: 20px;
	}
	.left-content a{
		font-size: 18px;
		padding: 15px 20px;
	}
	.header-section img{
		max-width: 850px
	}
	.about-content div p{
		font-size: 20px;
	}
}

@media all and (max-width:1600px){
	.left-content{
		margin-top: 80px;
		margin-left: 120px;
	}
	.left-content h2{
		font-size: 16px;
	}
	.left-content h1{
		font-size: 45px;
		
	}
	
	.left-content h2:nth-child(4){
		font-size: 24px;
	}
	.left-content h3{
		font-size: 16px;
	}
	.left-content a{
		font-size: 16px;
		padding: 10px 20px;
	}
	.header-section img{
		max-width: 700px
	}
	.about-content div p{
		font-size: 18px;
	}
	.offers .each-offer{
		width: 27%;
	}
	
}

@media all and (max-width:1300px){
	
	.left-content h2{
		font-size: 11px;
	}
	.left-content h1{
		font-size: 30px;
		
	}
	
	.left-content h2:nth-child(4){
		font-size: 18px;
	}
	.left-content h3{
		font-size: 11px;
	}
	.header-section img{
		max-width: 500px
	}
	
	.left-content a{
		font-size: 15px;
		padding: 10px 20px;
		
	}
	.left-about {
		clip-path: polygon(0 0, 95% 0,50% 100%, 0 100%);
	}
	.right-heading{
		flex: 1;
	}
		.about-content div p{
		font-size: 16px;
	}
	.contact-container{
		flex-direction: column;
	}
	.right-contact {
   	 	clip-path:none; 
	}
	.offers .each-offer{
		width: 30%;
	}
	
}

@media all and (max-width:1000px){
	.left-content h2:nth-child(4),
	.left-content h3{
		display: none;
	}
	.left-content a{
		margin: 0;
		font-size: 13px;
		
	}
	.left-content div{
		margin: 40px 0;
	}
	.header-section img{
		max-width: 500px;
		top: 80%;
		transform: translate(-60%,-75%)
	}
	.about-content div h2{
		font-size: 35px;
	}
	.about-content div p{
		font-size: 14px;
		line-height: 1.2;
		font-weight: 100;
	}
	.offer-heading h2{
		font-size: 35px;
	}
	.offer-heading h2 span{
		font-size: 40px;
	}
	.offer-section{
		margin:70px auto;
		height: auto;
	}
	.offers{
		flex-direction: column;
	}
	.offers .each-offer{
		width: 50%;
		margin: 30px 0;
	}
	.offers .each-offer:nth-child(2){
		width: 50%;
		margin: 30px 0;
	}
	.car-gallery div{
		width: 40%;
	}
	
}

@media all and (max-width:740px){
	.right-heading{
		display: none;
	}
	.header-section img{
		transform: translate(-50%,-50%);
	}
	.left-content{
		align-items: center;
		margin-left: 0;
	}
	.left-content div{
		display: none;
	}
	.left-content h1{
		margin-bottom: 50px;
	}
	.left-about{
		display: none;
	}
	.about-content {
		width: 90%;
		height: 90%;
		margin-left: 15px
	}
	.car-gallery div{
		width: 90%;
	}
	.contact-container{
		width: 90%;
	}
	

}

@media all and (max-width:650px){
	
}

@media all and (max-width:480px){
	
}