@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?2bbw2b');
  src:  url('../fonts/icomoon.eot?2bbw2b#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2bbw2b') format('truetype'),
    url('../fonts/icomoon.woff?2bbw2b') format('woff'),
    url('../fonts/icomoon.svg?2bbw2b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelope-o:before {
  content: "\e901";
}
.icon-instagram1:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e903";
}
.icon-menu1:before {
  content: "\e904";
}
.icon-phone:before {
  content: "\e942";
}
.icon-location2:before {
  content: "\e948";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-youtube:before {
  content: "\ea9d";
}
